#forecast-main {
	background: #D11A3F;
	background: -moz-linear-gradient(top, #D11A3F 0%, #770335 100%);
	background: -webkit-linear-gradient(top, #D11A3F 0%, #770335 100%);
	background: linear-gradient(to bottom, #D11A3F 0%, #770335 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  .forecast-main-basicinfo {
    color: $frcst-light;
    .forecast-main-location {
      font-size: .75em;
    }
  }
}

.forecast-details-list {
  ul li {
    border: 0;
    background: none;
  }
}
